.main {
  flex: 1;
}
.bg-dark {
  background-color: #12002b;
}
.sign-in {
  &-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
  }

  &-icon {
    width: 1.2rem;
  }
}

.error_login {
  color: red;
  font-weight: bold;
  display: none;
  &.active {
    display: block;
  }
}
