.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  &-logo {
    display: flex;
    align-items: center;
    &__image {
      max-width: 100%;
      width: 200px;
    }
  }
  & a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
  &__item a {
    text-decoration: none;
    margin-right: 0.5rem;
    &:hover {
      text-decoration: underline;
    }
    & .user_icon {
      width: 14px;
      margin-right: 0.3rem;
    }
  }
}
